h1 {
    font-size: 1.9em;
    font-weight: bold;
    background-color: #18a1f0;
}
body p b {
    font-size: 1.3em;
    color:aliceblue;
}
body {
    background-color: #2260F0;
}

body ol {
    font-size: 1.2em;
    background-color: #5dbaf0;
}

button {
    background-color: #4d07f7;
    font-size: 1.1em;
    color:aliceblue;
}
input {
    font-size: 1.1em;

}