h1 {
    font-size: 1.9em;
    font-weight: bold;
    background-color: #18ddf0;
}
body p b {
    font-size: 1.3em;
    color:aliceblue;
}
body {
    background-color: #2260F0;
}

body ol {
    font-size: 1.2em;
    background-color: #ecae43;
}

button {
    background-color: #d785fa;
    font-size: 1.1em;
}
input {
    font-size: 1.1em;

}